---
layout: default
title: Homepage
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
about-image: /images/beyou.jpg
---

<!-- Headline -->
<section class="lg:ml-[20%] p-10p lg:p-5p bg-cover bg-center flex items-center lg:text-white min-h-50 lg:min-h-80 lg:banner-image">
  <div class="lg:-ml-[20%]"> 
     <h2 class="text-[10vw] mb-12 leading-[0.7] font-serif"> Discovering all <br> we can be. </h2> 
     <h3 class="text-base lg:text-2xl uppercase max-w-screen-sm"> Ready to push your limits and live your best life? Multifaceted Me offers inspiration, goal-setting tips, and helps you unlock your full potential. <br>Dive in and be part of the Community!</h3> 
  </div> 
</section> 

<!-- Short About Introduction -->
<section class="bg-stone-200 p-5p">
  <div class="max-w-screen-xl mx-auto md:grid md:grid-cols-2">
    <div class="bg-cover bg-center h-52 md:pic" style="background-image: url('{{page.about-image}}')"> </div>
    <div class="py-5p px-8 -mt-24 md:mt-0 md:py-15p">
      <h2 class="p-8 tracking-wide font-serif md:-ml-[20%] bg-accentdark text-3xl max-w-sm text-white"> Grow. Connect. <br> Be Multifaceted. </h2>
      <p class="my-4">Do you ever feel that nagging sense of "is this all there is?" Maybe your career feels like autopilot, or a voice whispers you're not reaching your full potential. You crave a life bursting with possiblity, one where you can conquer challenges and explore hidden talents. But fear and self-doubt are holding you back.</p>
      <p class="my-4">We get it. Life can get comfortable, but comfortable doesn't always lead to fulfilled. At Multifaceted Me, we believe there's a whole universe waiting to be explored within each of us. We're here to help you break free from limitations, set goals that excite you, and discover the amazing, multifaceted person you were always meant to be.</p>
      <div class="text-center md:text-left">
        <a href="about.html" class="inline-block px-4 py-3 mb-2 leading-loose text-center text-white font-semibold bg-accentdark hover:bg-accentlight rounded-xl"> Read More </a>
      </div>
    </div>
  </div>
</section>

<!-- Featured Blog posts -->
<section class="p-5p pb-0">
  <h2 class="text-center uppercase font-serif text-2xl lg:text-3xl tracking-wide">Featured Posts</h2>
  <div class="max-w-screen-xl mx-auto overflow-auto xl:overflow-hidden">

    <div class="flex gap-4 w-full" >

      {% assign featured_posts = site.posts | where: 'featured', true %}

      {% for post in featured_posts limit:3 %}


        <a class="p-2 break-inside-avoid block hover:scale-105" href="{{ post.url }}">

          <!-- Background image -->
          <div class="bg-cover aspect-square min-h-64 md:min-h-72 lg:min-h-[22rem] lg:max-h-[22rem]" style="background-image:url('{{ post.featured_image }}');"></div>

          <!-- Text container  -->
          <div class="p-3 relative -top-24 left-3 bg-white min-h-48">
              
              <p>
              {% for item in post.categories %}
                  <span class="tag"> {{item}} </span>
              {% endfor %}
              </p>
              <h2 class="text-lg"> {{ post.title }} </h2> 
              <p class="text-sm"> {{ post.description | truncate: 75 }} </p>
              <hr class="mt-1.5 mb-1.5 border-accentlight w-24 border-t-2"> 
              <p class="tag"> 
                  <span class="font-bold mr-1">{{ post.author }}</span> {{ post.date | date_to_string }} 
              </p>

          </div>
        </a>

      {% endfor %}
    </div>

 
    
  </div>
  <div class="text-center -mt-20">
    <a href="blog.html" class="inline-block px-4 py-3 mb-6 leading-loose text-center text-white font-semibold bg-accentdark hover:bg-accentlight rounded-xl"> Show All Posts </a>
  </div>

</section> 

