<!-- Banner -->
<section class="p-10p min-h-30 text-center content-center lg:text-left">
    <div> 
       <h2 class="text-[10vw] mb-4 leading-[0.7] font-serif"> The Story Unfolds </h2> 
       <h3 class="text-base uppercase font-serif lg:text-2xl"> My journey so far. Twists and Turns included. </h3> 
    </div> 
  </section> 
  
  <div class="flex items-center md:justify-center border-y-2 border-slate-600 md:overflow-x-auto overflow-x-scroll md:flex-wrap flex-nowrap">
  
      <a href="/blog.html" class="p-4 uppercase whitespace-nowrap hover:text-rose-600">all</a>
     
      {% for cat in site.archives %}
  
      <a href="{{cat.url}}" class="p-4 uppercase whitespace-nowrap hover:text-rose-600"> {{cat.category}} </a>
  
      {% endfor %}
  
  </div> 