<div class="bg-slate-900 text-red-200 hover:bg-white hover:text-slate-900">
  <div class="flex flex-col md:flex-row">
    <div class="flex justify-between items-center px-4 py-4 md:py-0 border-b border-gray-600 md:border-0">
      <div>
        <a href="" class="font-semibold text-xl font-serif">Multifaceted Me</a>
      </div>
      <div>
        <button class="focus:outline-none block md:hidden" id="hamb-btn" data-target="nav-body">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path id="hamb1" class="block" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              <path id="hamb2" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <div class="hidden md:flex flex-col md:flex-row md:justify-between w-full py-2 md:py-0" id="nav-body">
      <div class="flex flex-col md:flex-row md:items-center">
        <a href="/about.html" class="px-4 py-3 md:py-5 block hover:text-white">About</a>
        <a href="/blog.html" class="px-4 py-3 md:py-5 block hover:text-white">Blog</a>
        <a href="/contact.html" class="px-4 py-3 md:py-5 block hover:text-white">Contact</a>

      </div>
      <div class="flex flex-col md:flex-row">
        <a href="https://www.facebook.com" class="nav-link-social inline">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com" class="nav-link-social inline">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.tiktok.com" class="nav-link-social inline">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a class="nav-link" href="#"> Connect </a>
      </div>
    </div>
  </div>
</div>
