<footer class="p-6  md:p-8 bg-white text-gray-800">
    <div class="p-1 text-center">
        <a href="/index.html" class="font-serif text-4xl block tracking-wide hover:text-accentlight"> Multifaceted Me </a>
        <p> Discovering all we can be.</p>
      </div> 
      <hr class="mt-1.5 mb-1.5 mx-auto border-accentlight w-24 border-t-2 p-1"> 
    <div class="max-w-screen-xl mx-auto text-center text-gray-800">
          <a href="/about.html" class="inline-block p-1 uppercase text-sm tracking-wide mx-1 md:mx-2.5 hover:text-accentlight"> About </a>
          <a href="/blog.html" class="inline-block p-1 uppercase text-sm tracking-wide mx-1 md:mx-2.5 hover:text-accentlight"> Blog </a>
          <a href="privacy.html" class="inline-block p-1 uppercase text-sm tracking-wide mx-1 md:mx-2.5 hover:text-accentlight"> Privacy Policy</a>
      </div>
      <div class="max-w-screen-xl mx-auto  text-center">
        <a class="inline-block py-2 px-2 text-gray-800 mx-2.5 hover:text-accentlight" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
        <a class="inline-block py-2 px-2 text-gray-800 mx-2.5 hover:text-accentlight" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
        <a class="inline-block py-2 px-2 text-gray-800 mx-2.5 hover:text-accentlight" href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
       </div>
    </footer>
    