---
layout: default
---


<section class="md:flex p-4 max-w-screen-xl mx-auto sm:p-8">

    <div class="p-4 sm:p-8">
            {% for item in page.categories %}
                <span class="tag"> {{ item }}</span>
            {% endfor %}
            
            <h1 class="text-3xl mt-2 font-serif"> {{ page.title }} </h1>
            
            <p class="tag">{{ page.date | date_to_string }} </p>

        <div class="p-4 prose prose-stone max-w-none">

            {{content}}

        </div>
        
        {% include social-share.html %}

    </div>

    <!------------------ SIDEBAR  --------------------------------->
    <aside class="p-4 md:w-96 shrink-0">

        <div class="bg-white p-4 m-4">
            <h4> <strong> Explore Categories </strong></h4>

            <nav> 
                {% for archive in site.archives limit:8 %}
                     <a href="{{archive.url}}" class="tag hover:text-accentlight"> {{archive.category}}</a>
                {% endfor %}
            </nav>

        </div>

        <div class="bg-white p-4 m-4">
            <h4> <strong> Recent Posts </strong></h4>

            <nav class="recent-posts-nav"> 
                {% for post in site.posts limit:5 %}
                     <a href="{{post.url}}" class="tag block mb-1 hover:text-accentlight"> {{post.title}}</a>
                {% endfor %}
            </nav>

        </div>

        <div class="bg-white p-4 m-4">

            <h4><strong>About me </strong> </h4>
            <p class="text-sm inline-block p-1 text-stone-600/90">Hi! Julia here, a mid-thirties adventurer on a year-long sabbatical. After six sun-soaked years in the Dominican Republic, I'm trading routine for self-discovery. This year is packed with exploration (both places and passions!), learning new skills (web design anyone?), and prioritizing my well-being (yoga, meditation, and maybe kitesurfing!). Join me on this journey to find what's next!.</p> 

        </div>


    </aside> <!-- end sidebar-->

</section>

{% include related-posts.html %}